@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Martel+Sans:wght@600&family=Poppins:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai 2", sans-serif;
  font-family: "Martel Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url(Assets/img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 45rem;
  position: relative;
}

.main .box {
  /* height: 90vh; */
  height: 45rem;
  width: 100%;
  opacity: 0.69;
  background-color: black;
  top: 0;
  position: absolute;
}

nav {
  max-width: 60vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 62px;
}

nav img {
  color: red;
  width: 114px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;

  padding: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.hero > :first-child {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
  flex-shrink: 1;
}
.hero:nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  flex-shrink: 1;
}
.hero:nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  flex-shrink: 1;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-shrink: 1;
}
.btn {
  font-family: "Poppins", sans-serif;
  padding: 3px 8px;
  font-weight: 400;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid #5e5f5f;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.btn-red {
  background-color: #e50914;
  padding: 10px 24px;
  font-size: 20px;
  border-radius: 4px;
  color: white;
  font-weight: 400;
  border: none;
}
.main input{
  width: 20rem;
  padding: 12px 10px;
  color: white;
  font-size: 1rem;
  /* font-weight: 900; */
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(139, 136, 136, 0.5);
  border-radius: 4px;
  outline: none;
}
.btn-red-sm {
  background-color: #e50914;
  color: white;
  border: none;
}

@media (min-width: 600px) and (max-width: 1100px) {
  .hero > :first-child {    
    font-size: 40px;
    font-weight: bolder;   
  }
  .hero:nth-child(2) {    
    font-size: 20px;
    
  }
  .hero:nth-child(3) {
    font-size: 15px;
    
  }
  .hero {   
    gap: 15px; 
  }
}
.sepration {
  height: 7px;
  background-color: rgb(56, 52, 52);
  z-index: 10;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 97vw;
  margin: auto;
  color: white;
}

.secImg {
  position: relative;
  /* overflow: hidden; */
  z-index: -1;
}

.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.secImg video {
  position: absolute;
  top: 51px;
  right: 0;
  width: 480px;
  overflow: hidden;
  z-index: -2;
}

.third .secImg {
  position: relative;
}

.third .secImg video {
  position: absolute;
  top: 36px;
  right: 111px;
  width: 338px;
  overflow: hidden;
}

.first > div {
  display: flex;
  flex-direction: column;
}
.first .firstHeader {
  font-size: 48px;
  font-weight: bolder;
}

.first > div :nth-child(3) {
  font-size: 24px;
}

@media (min-width: 600px) and (max-width: 1100px) {
  .first .firstHeader {
    font-size: 2rem;
  }
  .first .firstContent {
    font-size: 0.8rem;
  }
  .first .secImg img {
    width: 17rem;
  }
  .first .secImg video {
    width: 15rem;
    top: 40px;
    right: 0;
  }
  .third .secImg video {
    top: 17px;
    right: 54px;
    width: 10.3rem;
  }
}

.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faq {
  background-color: black;
  color: white;
  padding: 34px;
  text-align: center;
}
.faqbox {
  transition: all 0.7s ease-out;
  display: flex;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 60svw;
  margin: 12px auto;
  justify-content: space-between;
  cursor: pointer;
  font-size: 24px;
}
.faqbox:hover {
  background-color: #414141;
}

.faq svg {
  filter: invert(1);
}

.faq span {
  font-size: 20px;
}

.faq input {  
    width: 20rem;
    padding: 12px 10px;
    color: white;
    font-size: 1rem;
    /* font-weight: 900; */
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(139, 136, 136, 0.5);
    border-radius: 4px;
    outline: none;
  
}

.faq-btn {
  margin-top: 18px;
}

footer {
  color: white;
  max-width: 80vw;
  margin: auto;
  padding: 60px;
  font-size: 14px;
  font-weight: lighter;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  /* width: 73vw; */
  margin: auto;
  gap: 25px;
}

.foot-links {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.foot-links a {
  color: white;
  /* text-decoration: none; */
}

@media (min-width: 600px) and (max-width: 1100px) {
  .faq h2 {
    text-align: center;
    font-size: 2rem;
  }
  .faqbox {
    padding: 18px;
    font-size: 24px;
  }
  .faq input {  
    width: 15rem;
    padding: 12px 10px;
    color: white;
    font-size: 1rem;   
  
}   
}
